<div class="container">
    <h3>Manage Booking</h3>
    <div class="card">
        <div class="card-header"> User Manage Booking</div>
         <div class="card-body">

            <form [formGroup]="managebookingForm" autocomplete="off">
                <div class="row">
                    
                        <div class="form-group col-md-12">
                           
                            <table class="labelfont table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name Of the Flight</th>
                                        <th>Date and Time of arrival</th>
                                        <th>Price</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-primary">View</button>  
                                        </td>
                                        <td><button class="btn btn-success">Download</button>  </td>
                                        <td><button class="btn btn-danger">Cancel</button>  </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="col-md-6"></div>
                <button class="btn btn-danger">Check in</button>
            </form>

        </div>
    </div>
</div>

<router-outlet></router-outlet>